body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.bg {
  background-color:palegreen;
}

.nb {
  background-color: palegreen;
  margin: 0;
  padding: 10;
  padding-right: 100;
}